body{
	background-image: url("../img/bg.png");
}

.princ{
	background-color: white;
}

/* NAVBAR */
#logo{
	width: 200px;
	height: 200px;
}

.bg-light{
	background-color: white !important;
}

.buttom-navbar {
	border: none;
	background: #ffffff;
	color: black !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.buttom-navbar:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: rgba(251,211,211,255);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(251,211,211,255);
	-moz-box-shadow: 0px 5px 40px -10px rgba(251,211,211,255);
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

nav ul li {
	display:inline; 
	padding:14px; 
	font-size:16px; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}

nav ul li #item{
	color: #cecece;
	text-transform: uppercase;
	font-weight: bold;
}

nav ul li #item:hover {
	font-size:17px; 
	transition: all 0.10s;
	color: rgba(251,211,211,255)F;

}

/* BANNER */
.banner{
	width: 100%;
	border-radius: 25px;
}

.title-recepcao{
	font-size: 6em;
	text-shadow:#686868 2px 2px 2px;
}

.title-recepcao a1 {
	color: #9ab0d7;
}

.title-recepcao a2 {
	color: rgba(251,211,211,255);
}


.banner2{
	width: 100%;
	height: 390px;
	border-radius: 25px;
}

#recepcao {
	text-align: center; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman'; 
	color: #f5f6fa; 
	padding:2.5%;
}

.alerta{
	background-color: #0b94d2;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	border-color: #0b94d2; 
}

/* CARROSSEL */
.meio{
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/* PRODUTOS */
.flip{
	  margin-top: 25px;
}

.andar{
	margin-left: 20px;
	text-align: center;
}

.btn-ver{
	background-color: #dd2a8a;
	border-color: #dd2a8a;
}

/* PAGINAÇÃO */

#num1{
	position: relative;
	left: 20px;

}

#num3{
	position: relative;
	right: 20px;

}

#num-ant{
	position: relative;
	left: 40px;

}

#num-pro{
	position: relative;
	right: 40px;

}

.pag{
	margin-right: 80px;
	color: #0b94d2;
}

.pag ul li a{
	color: #0b94d2;
}

.title-slido {
	font-size: 2em;
	text-shadow:#646464 2px 2px 2px;
}


.title-slido a1 {
	color: #9ab0d7;
}

.title-slido a2 {
	color: rgba(251,211,211,255);
}


/* LEITINHO TRUFADO */

#btn-pre{
	position: relative;
	left: 135px;
	margin-top: 2px;
}

/* FOOTER */

.bg-danger {
	border-radius: 20px 20px 0px 0px; 
	background-color: #0b94d2 !important;
}
